@charset "utf-8";
.wrapper .content .left {float:left;width:300px;min-height:500px;padding:20px 0;}
.wrapper .content .right {float:left;width:700px;min-height:500px;padding:20px 0;}
.wrapper .content .right .right_top {background:url(../images/seperator_top.png) left no-repeat;height:26px;}
.wrapper .content .right .right_bottom {background:url(../images/seperator_bottom.png) left no-repeat;height:26px;}
.wrapper .content .right .right_main {background:url(../images/seperator_bg.png) left repeat-y;min-height:400px;padding:1px 20px;}

.avatar-container {position:relative;}
.avatar-container .avatar {width:94px;height:94px;margin:0 10px 10px 0;padding:10px;background:#CCC;}
.avatar-container .progress {width:85%;}
.avatar-container .percent {position:absolute;right:0;bottom:6px;font-weight:bold;}
.role-info-item {float:left;width:50%;padding:5px 0;}
.equipment-info-item {padding:5px 0;}
.role-info-item span, .equipment-info-item span {display:inline-block;}
.role-info-item-label, .equipment-info-item-label {width:50px;font-weight: bold;color:#A37229;}

.equipment-item {padding:5px 20px;float:left;min-width:150px;position:relative;cursor: pointer;}

.post {padding:5px 0;border-bottom: #CCC 1px dashed;}
.post .entry span {font-weight:bold;}
.post .entry span.defender, .post .entry span.damage {color:#FF0000;}
.post .entry span.defender_self {color:#8DC43C;}
.post .entry span.skill {color:#0000FF;}
.post .entry span.status {color:#FF00FF;}
.post .entry span.exp, .post .entry span.gold {color:#FFFF99;background:#765524;display:inline-block;padding:2px 3px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

.post .entry span.gather_name {color:#8DC43C;}

.menu {position:absolute;top:27px;left:0;z-index:1;min-width:120px;}